<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/main.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if article %}
        {% set object = article %}
    {% elif page %}
        {% set object = page %}
    {% endif %}
    {% if object and object.metadata['meta_robots'] %}
    <meta name="robots" content="{{ page.metadata['meta_robots'] }}" />
    {% endif %}
</head>

<body>
    <nav>
        <div class="sitelogo">
            <div class="sitename">
                <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
            </div>
            <div class="sitesubtitle">
                {{ SITESUBTITLE }}
            </div>
        </div>
        <div></div> <!-- for 1fr in grid -->
        <div class="menu">
            {% for title, link in MENUITEMS %}
                <a class="menuitem" href="{{ link }}">{{ title }}</a>
            {% endfor %}
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div><a href="/pages/contact.html">&copy; 2017-{{ CURRENTYEAR }}</a><br>
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></div>
        <div></div>
        <div>
            <a href="/pages/impressum.html">Impressum</a>
            <br>
            <a href="/pages/datenschutzerklarung.html">Datenschutzerklärung</a>
        </div>
    </footer>
</body>
</html>
